body {
  background: white;
  font-family: 'Playfair Display', serif !important;
    font-size: 1.5em;
    color: #333333;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

a:hover {
  cursor: pointer;
}

body > .bar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  border-top: 4px solid #2ecc71;
}

body > .container {
  width: 100%;
  height: 100%;
  position: relative;
}

.cart {
  position: fixed;
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.cart > .content{
  padding: 1.5em;
  font-size: .8em;
}

.cart > .content .header {
  font-size: 1.2em;
}

.price {
  color: #808080;
}

.story {
  position: relative;
  top: 1.5em;
  left: 20%;
  width: 80%;
  padding-bottom: 3em;
}

.story > .content {
  padding: 0 3em;
}

.step {
  padding: 1em 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}